{% extends 'layout.html' %}

{% block title %}
    catalog
{% endblock %}

{% block container %}

    <div class="row">
        <div class="col-md-6 home">
            <h5 class="text-danger">
                Are you sure you want to delete <strong> {{ item.title }} </strong> item?
            </h5>

            <div class="confirm-delete">
                <form method="post" action="{{ url_for('delete_item', category=item.category.name, item_title=item.title) }}">
                    <input type="submit" class="btn btn-sm btn-danger" value="confirm">
                    <a class="btn btn-sm btn-primary" href="{{ url_for('home') }}">Cancel</a>
                </form>

            </div>
        </div>
    </div>

{% endblock %}