{% extends 'layout.html' %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-6 home">
            <div>
                <h3 class="text-center text-capitalize">{{ item.title }}</h3>
                <p class="text-left text-info">
                  {{ item.description }}
                </p>
            </div>
            {% if current_user.is_authenticated and current_user.id == item.user.id %}
            <div class="item-action">

            <a class="btn btn-success btn-sm edit"
               href="{{ url_for('edit_item', category=item.category.name, item_title=item.title) }}">
                Edit
            </a>

           <a class="btn btn-danger btn-sm"
               href="{{ url_for('delete_item', category=item.category.name, item_title=item.title) }}">
                Delete
            </a>

            </div>
            {% endif %}
        </div>

    </div>

{% endblock %}