{% extends 'layout.html' %}

{% block title %}
    login
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-6 login">
            <h3 class="text-center" >Login</h3>
            <div class="form-group">
                <form method="post" action="{{ url_for('login') }}">
                    {{ form.email(class ="form-control log-input", placeholder='Email Address') }}
                        {% if form.email.errors %}
                        <span class="text-danger">
                        {% for error in form.email.errors %}
                            <strong>{{ error }}</strong>
                        {% endfor %}
                        </span>
                        {% endif %}
                    {{ form.password(class ='form-control log-input', placeholder='password' ) }}
                         {% if form.password.errors %}
                        <span class="text-danger">
                        {% for error in form.password.errors %}
                            <strong>{{ error }}</strong>
                        {% endfor %}
                        </span>
                        {% endif %}
                    <input class="btn btn-success btn-block log-input"  type="submit" value="Login">
                </form>
            </div>

            <div class="text-center">
                <span class="text-center log-or">or</span>
            </div>


            <div id="signinButton" class="google-button">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="669115680188-j3f2h8tm95sd96u71mfr8gfcv4vv6da9.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                </span>
            </div>
        </div>
    </div>

<div id="result"></div>

    <script src="{{ url_for('static', filename='js/app.js') }}"> </script>

{% endblock %}